# ===============================
# PYTHON
# ===============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.log

# Entornos virtuales
venv/
env/
.venv/

# ===============================
# CONFIGURACIONES LOCALES
# ===============================

.env
config_local.py

# ===============================
# IDEs
# ===============================

.vscode/
.idea/

# ===============================
# SISTEMA OPERATIVO
# ===============================

.DS_Store
Thumbs.db

# ===============================
# NODE (por si luego usas)
# ===============================

node_modules/

# ===============================
# ARCHIVOS TEMPORALES
# ===============================

*.tmp
*.swp
